.home{
    
    height: 100vh;
    background-color: #FAFAFA;
    display: flex;
     .menu{
         
    width: 24%;
    background-color: #323E4D;

     }
     .portal{
         
    width: 76%;
    background-color: #FAFAFA;
    .task-management{
        
        margin: 100px;
        width: fit-content;
        
        height: fit-content;
    }

     }
}